.container {
  width: 60%;
  justify-content: center;
  background-color: rgb(17, 17, 17);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.313);
  color: white;
  display: flex;
}

.container-2 {
  width: 60%;
  padding: 0;
}

select {
  border: none;
  background-color: rgb(17, 17, 17);
  color: white;
  border-bottom: 1px solid rgb(0, 238, 255);
  font-size: 1.1em;
  margin: 10px;
}

input {
  border: none;
  background-color: rgb(17, 17, 17);
  color: white;
  border-bottom: 1px solid rgb(0, 238, 255);
  font-size: 1.1em;
  margin: 10px;
}

textarea {
  width: 90%;
  height: 60vh;
  resize: none;
  vertical-align: top;
  background-color: rgb(18, 18, 18);
  color: white;
}

button {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
}

* {
  font-family: "Roboto", serif;
}

body {
  background-color: black;
}
